<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mutual Fund Selector</title>
</head>

<body>
    <h1>Select Mutual Fund Category:</h1>
    <form action="/" method="post">
        <select name="category">
            <option value="Small Cap Fund">Small Cap Fund</option>
            <option value="Small Cap Fund">Small Cap Fund</option>
<option value="Liquid Fund">Liquid Fund</option>
<option value="Balanced Advantage Fund">Balanced Advantage Fund</option>
<option value="Aggressive Hybrid Fund">Aggressive Hybrid Fund</option>
<option value="Flexi Cap Fund">Flexi Cap Fund</option>
<option value="Index Fund">Index Fund</option>
<option value="Large Cap Fund">Large Cap Fund</option>
<option value="Mid Cap Fund">Mid Cap Fund</option>
<option value="Value Fund">Value Fund</option>
<option value="Equity Linked Savings Scheme (ELSS)">Equity Linked Savings Scheme (ELSS)</option>
<option value="Focused Fund">Focused Fund</option>
<option value="Large & Mid Cap Fund">Large & Mid Cap Fund</option>
<option value="Corporate Bond Fund">Corporate Bond Fund</option>
<option value="Aggressive Hybrid Fund">Aggressive Hybrid Fund</option>
<option value="Arbitrage Fund">Arbitrage Fund</option>
<option value="Low Duration Fund">Low Duration Fund</option>
<option value="Multi Cap Fund">Multi Cap Fund</option>
<option value="Money Market Fund">Money Market Fund</option>
<option value="Short Duration Fund">Short Duration Fund</option>
<option value="Banking & PSU Fund">Banking & PSU Fund</option>
<option value="Overnight Fund">Overnight Fund</option>
<option value="Ultra Short Duration Fund">Ultra Short Duration Fund</option>
<option value="Floating Rate Fund">Floating Rate Fund</option>

        </select>
        <input type="submit" value="Submit">
    </form>
</body>

</html>
